{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Liste des rapports d'alimentation </h5
<p>Vous pouvez ajouter un rapport d'alimentation en cliquant sur le bouton [ajouter]</p>

    <p>Vous pouvez éditer <b>VOS</b> rapports en cliquant sur <i class="las la-edit fs-1"></i> dans la liste - Vous pouvez supprimer <b>VOS</b> rapports en cliquant sur <i class="las la-trash fs-1"></i> dans la liste.</p>
<p>Vous pouvez filtrer les rapports par date, animaux, nourriture et employé.</p>
{% endblock %}