{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Liste des rapport d'alimentation </h5>
<p>Les rapports d'alimentation sont rédigés par les employés</p>
<p>Vous pouvez éditer un rapport en cliquant sur <i class="las la-edit fs-1"></i> dans la liste - Vous pouvez supprimer un aliment en cliquant sur <i class="las la-trash fs-1"></i> dans la liste.</p>
<p>Vous pouvez filtrer les rapports par date, animaux, nourriture et employé.</p>
{% endblock %}