{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Éditer un rapport d'alimentation</h5>
<p>Complétez le formulaire pour éditer les informations d'un rapport dans la base de données.</p>
<ul>
    <li>Modifiez l'animal.</li>
    <li>Modifiez la date.</li>
    <li>Modifiez l'alimentation (nom et grammage).</li>
    <li>Validez les modifications en cliquant sur "Mettre à jour".</li>
</ul>
{% endblock %}
