{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Liste des rapport d'alimentation </h5>
<p>Les rapports d'alimentation sont rédigés par les employés</p>
<p>Vous pouvez uniquement consulter les rapports.</p>
<p>Vous pouvez filtrer les rapports par date, animaux, nourriture et employé.</p>
{% endblock %}