{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Liste des avis </h5>
<p>Vous pouvez éditer un avis en cliquant sur <i class="las la-edit fs-1"></i> dans la liste.</p>
<p>Vous pouvez effectuer une recherche sur les avis en utilisant le champ de recherche.</p>
<p>Vous pouvez filtrer les avis par statut (publié ou pas), par date de publication ou par date de soumission.</p>
{% endblock %}