{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Ajouter un avis</h5>
<p>Complétez le formulaire pour ajouter un avis à la base de données. (uniquement dans un but de référencement ou j'ajouter du contenu à votre site)</p>
<ul>
    <li>Indiquez le pseudo.</li>
    <li>Indiquez l'avis.</li>
    <li>Indiquez si vous souhaitez la publication et preciser la date de publication.</li>
    <li>Validez l'ajout en cliquant sur "Sauvegarder".</li>
</ul>
{% endblock %}

