{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Éditer un avis</h5>
<p>Complétez le formulaire pour éditer les informations d'un avis dans la base de données.</p>
<ul>
    <li>Modifiez le pseudo.</li>
    <li>Corriger l'avis.</li>
    <li>Indiquez si vous souhaitez la publication et preciser la date de publication.</li>
    <li>Validez les modifications en cliquant sur "Mettre à jour".</li>
</ul>
{% endblock %}
