{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Liste des animaux</h5>
<p>Vous pouvez ajouter un animal en cliquant sur le bouton [ajouter]</p>
<p>Vous pouvez éditer un animal en cliquant sur <i class="las la-edit fs-1"></i> dans la liste - Vous pouvez supprimer un animal en cliquant sur <i class="las la-trash fs-1"></i> dans la liste.</p>
<p>Vous pouvez effectuer une recherche sur les animaux en utilisant le champ de recherche. - Les filtrer par race et par habitat, vous pouvez aussi ordonner les animauw par nom.</p>
{% endblock %}