{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Ajouter un animal</h5>
<p>Complétez le formulaire pour ajouter un animal à la base de données.</p>
<ul>
    <li>Indiquez le prénom de l'animal (il doit être unique).</li>
    <li>Choisissez la race en la sélectionnant dans le menu déroulant.</li>
    <li>Choisissez un habitat en le sélectionnant dans le menu déroulant.</li>
    <li>Ajoutez une image de votre choix.</li>
    <li>Validez l'ajout en cliquant sur "Sauvegarder".</li>
</ul>
{% endblock %}

