{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Éditer un animal</h5>
<p>Complétez le formulaire pour éditer les informations d'un animal dans la base de données.</p>
<ul>
    <li>Modifiez le prénom de l'animal (il doit être unique).</li>
    <li>Modifiez la race en la sélectionnant dans le menu déroulant.</li>
    <li>Modifiez l'habitat en le sélectionnant dans le menu déroulant.</li>
    <li>Ajoutez une nouvelle image si nécessaire.</li>
    <li>Pour supprimer une ou des images existantes, cochez la case dédiée.</li>
    <li>Validez les modifications en cliquant sur "Sauvegarder".</li>
</ul>
{% endblock %}
