{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Ajouter un état de santé</h5>
<p>Complétez le formulaire pour ajouter un état de santé à la base de données.</p>
<ul>
    <li>Indiquez le nom de l'état de santé.</li>
    <li>Indiquez une description.</li>
    <li>Validez l'ajout en cliquant sur "Sauvegarder".</li>
</ul>
{% endblock %}

