{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Liste des utilisateurs</h5>
<p>Vous pouvez ajouter un utilisateur (employé ou veterinaire uniquement) en cliquant sur le bouton [ajouter]</p>
<p>Vous pouvez éditer un utilisateur en cliquant sur <i class="las la-edit fs-1"></i> dans la liste - Vous pouvez supprimer un utilisateur en cliquant sur <i class="las la-trash fs-1"></i> dans la liste.</p>
<p>Vous pouvez effectuer une recherche sur les utilisteurs en utilisant le champ de recherche. - Les filtrer par role.</p>
<p><b>Vous pouvez aussi vous connecter à un utilisateur en cliquant sur <i class="las la-plug fs-1"></i></b></p>
{% endblock %}