{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Liste des rapports médicaux </h5>
<p>Les rapports médicaux sont rédigés par les vétérinaires</p>
<p>Vous pouvez uniquement consulter les rapports.</p>
<p>Vous pouvez filtrer les rapports par date, animaux et vétérinaires.</p>
{% endblock %}