{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Ajouter un rapports médical</h5>
<p>Complétez le formulaire pour éditer les informations d'un rapport dans la base de données.</p>
<ul>
    <li>Indiquez l'animal.</li>
    <li>Indiquez la date de la consultations.</li>
    <li>Indiquez l'état de santé.</li>
    <li>Indiquez l'avis médical</li>
    <li>Indiquez l'alimentation (nom et grammage).</li>
    <li>Validez les modifications en cliquant sur "Mettre à jour".</li>
</ul>
{% endblock %}
