{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Éditer une race</h5>
<p>Complétez le formulaire pour éditer les informations d'une race dans la base de données.</p>
<ul>
    <li>Modifiez le nom de la race.</li>
    <li>Validez les modifications en cliquant sur "Mettre à jour".</li>
</ul>
{% endblock %}
