{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Ajouter une race</h5>
<p>Complétez le formulaire pour ajouter une race à la base de données.</p>
<ul>
    <li>Indiquez le nom de la race.</li>
    <li>Validez l'ajout en cliquant sur "Sauvegarder".</li>
</ul>
{% endblock %}

