{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Ajouter un habitat</h5>
<p>Complétez le formulaire pour ajouter un habitat à la base de données.</p>
<ul>
    <li>Indiquez le nom de l'habitat (il doit être unique).</li>
    <li>Indiquez  une description l'habitat.</li>
    <li>Ajoutez une image de votre choix.</li>
    <li>Validez l'ajout en cliquant sur "Sauvegarder".</li>
</ul>
{% endblock %}

