{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Ajouter un aliment</h5>
<p>Complétez le formulaire pour ajouter un aliment à la base de données.</p>
<ul>
    <li>Indiquez le nom de l'aliment.</li>
    <li>Indiquez une description (facultatif).</li>
    <li>Validez l'ajout en cliquant sur "Sauvegarder".</li>
</ul>
{% endblock %}

