{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Éditer un aliment</h5>
<p>Complétez le formulaire pour éditer les informations d'un aliment dans la base de données.</p>
<ul>
    <li>Modifiez le nom de l'aliment.</li>
    <li>Modifiez la description.</li>
    <li>Validez les modifications en cliquant sur "Mettre à jour".</li>
</ul>
{% endblock %}
