{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Liste des aliments </h5>
<p>Vous pouvez ajouter un aliment en cliquant sur le bouton [ajouter]</p>
<p>Vous pouvez éditer un aliment en cliquant sur <i class="las la-edit fs-1"></i> dans la liste - Vous pouvez supprimer un aliment en cliquant sur <i class="las la-trash fs-1"></i> dans la liste.</p>
<p>Vous pouvez effectuer une recherche sur les aliments en utilisant le champ de recherche.</p>
{% endblock %}