{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Liste des rapports sur les habitats </h5>
<p>Les rapports sur les habitats sont rédigés par les vétérinaires</p>
<p>Vous pouvez éditer un rapport en cliquant sur <i class="las la-edit fs-1"></i> dans la liste - Vous pouvez supprimer un rapport en cliquant sur <i class="las la-trash fs-1"></i> dans la liste.</p>
<p>Vous pouvez filtrer les rapports par date, habitat et vétérinaires.</p>
{% endblock %}