{%  extends "doc/_template.html.twig" %}
{% block doc %}
<h5>Ajouter un rapport sur un habitat</h5>
<p>Complétez le formulaire pour éditer les informations d'un rapport dans la base de données.</p>
<ul>
    <li>Indiquez l'habitat.</li>
    <li>Indiquez l'avis</li>
    <li>Validez les modifications en cliquant sur "Mettre à jour".</li>
</ul>
{% endblock %}
